<?xml version="1.0" ?>

<launch>

  <arg name="robot_name" default="" />
  <arg name="tf_prefix" default="" />
  <arg name="robot_model" default="$(find thorvald_description)/config/thorvald_ii_4wd4ws_std/thorvald_ii_4wd4ws_std.yaml" />
  <arg name="model_extras" default="" />
  <arg name="datum_file" default=""/>

  <!--param name="robot_tf_prefix" value="$(arg tf_prefix)" /-->

  <!-- state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- create robot model -->
  <!-- "inorder" so that file process in read order this allows conditional includes -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find thorvald_description)/urdf/thorvald_model.xacro' --inorder datum_file:='$(arg datum_file)' robot_name:='$(arg robot_name)' tf_prefix:='$(arg tf_prefix)' robot_config:='$(arg robot_model)' model_extras:='$(arg model_extras)'" />

</launch>
